@import "reset.css"
@import "searching.sass"
@import "results.sass"
@import "instructions.sass"

*
  box-sizing: border-box !important
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande"

body
  background-color: #efefef

.AppContainer
  //padding-top: 70px
  display: flex
  flex-direction: column
  justify-content: center

.InformationContainer
  margin: 30px
  margin-top: 0px
  margin-bottom: 0px
  color: lighten(gray, 15)
  font-weight: 200
  font-size: 1.3rem

  > div
    > *
      display: inline
