.course-anim
  &-exit
    opacity: 1

    &-active
      opacity: 0.1
      transition: opacity 500ms ease-in

.SearchContainer
  -webkit-backdrop-filter: blur(4px)
  backdrop-filter: blur(4px)
  background-color: transparentize(white, 0.08)
  margin-bottom: 30px
  box-shadow:  0px 29px 50px -8px rgba(0,0,0,0.10)
  position: fixed
  left: 0px
  top: 0px
  border-radius: 8px
  z-index: 1000
  width: 100%
  transition: all 0.4s
  overflow: hidden

  // @media(min-width: 750px)
  //   width: 750px
  //   left: 0
  //   right: 0
  //   top: 20px
  //   margin-left: auto
  //   margin-right: auto

  input
    background: none

  &__tools
    position: absolute
    top: 80px
    right: 20px
    padding: 30px
    border-radius: 8px
    color: white
    background-color: transparentize(black, 0.2)
    -webkit-backdrop-filter: blur(2px)
    backdrop-filter: blur(2px)
    display: none

    &:before
      content: '';
      margin: -35px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: blur(20px);
      z-index: -1;

  &__bottom
    height: 75px
    background-color: transparentize(lighten(gray, 46), 0.2)
    border-top: 1px solid lighten(gray, 37)
    border-bottom: 1px solid lighten(gray, 37)
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center

    @media (max-width: 750px)
      height: 50px

    &__jump
      display: flex
      align-items: center
      overflow-x: auto
      overflow-y: hidden
      white-space: nowrap
      height: 75px

      > span
        min-width: 120px
        font-style: italic
        color: gray
        padding: 0 20px

        @media (max-width: 750px)
          font-size: 0.85rem
          min-width: 85px
          padding: 0 15px

      > a
        min-width: 115px
        text-align: center
        background: white
        color: darken(gray, 10)
        border-radius: 8px
        margin: 5px
        padding: 10px 3px
        text-decoration: none
        box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.14)
        transition: all 0.2s

        @media (max-width: 750px)
          font-size: 0.83rem
          padding: 8px 0
          min-width: 85px
          margin: 4px

        &:hover
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

          @media (max-width: 750px)
            box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.14)

        &:visited
          color: darken(gray, 10)

.SearchInput

  &__Input
    padding: 28px 40px
    font-size: 2em
    font-weight: 200
    border: none
    transition: all 0.4s

    @media (max-width: 750px)
      font-size: 1.6rem
      padding: 20px 30px

    &:focus
      outline: none
